<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../../../css/index.css">
<link rel="stylesheet" href="../../../bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../../../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Accueil</title>
</head>
<body>
	<div id="conteneur">
		<div id="entête" style="display: inline";>
			<img class="titre" src="images/titre.jpg">
		</div>

		<nav class="navbar ">
			<div class="container-fluid">
				<div class="pull-left" style="font-size: 20px;">
					<span class="label label-primary">Avec Bigtwit pas de
						limites!</span>
				</div>
				<div class="pull-right">
					<a href="/bigtweets" class="btn btn-info" role="button">Se
						connecter avec Twitter<span class="glyphicon glyphicon-log-in"></span>
					</a>
				</div>
			</div>
		</nav>

		<div>



			<div class=pull-right>
				<span>
					<div class="panel panel-primary">
						<div class="panel-heading">Bigtweet</div>
						<div class="panel-body">
							<p>
								Ce tweet contient plus de mille caractères: c'est un bigtweet.
								Cliquez sur le lien suivant pour pouvoir lire la totalité du
								message.......... <a href="#">bigtwit.fr/sqdhkjqsgd/sqdjsq</a>
							</p>
						</div>
				</span>
			</div>

		</div>

	</div>



	</span>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="pull-left">
				<div class="ccol-sm-3 col-sm-9">
					<img alt="" src="images/bt.jpg">
				</div>
			</div>
		</div>



	</div>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h5>BIGTWIT is developped by Aminata CISSE, Jenourthika
						JEYAKUMAR and Thiepthy KANAGASABAI</h5>
					</br>
				</div>

				<div class="pull-right">
					<h5>Master 1 MIAGE 2016/2017</h5>
				</div>

			</div>
		</div>
	</footer>
</body>
</html>
</body>
</html>

